[mysqld]

bind-address = 0.0.0.0
max_connections = 200
skip-name-resolve = 1

default_storage_engine = InnoDB
innodb_buffer_pool_size = 512M
innodb_redo_log_capacity = 512M
innodb_flush_log_at_trx_commit = 1

server-id = 2
report-host=replica1

relay_log = /var/log/mysql/mysql-relay-bin
log_bin = /var/log/mysql/mysql-bin.log
binlog_transaction_compression = ON
binlog_expire_logs_seconds = 604800

read_only = 1

general_log = 1
general_log_file = /var/log/mysql/mysql_query.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql_slow.log

long_query_time = 1
log_error = /var/log/mysql/mysql_error.log